<div class="card mat-card" id="fourth-card">
    <section>
            <h1>Mis Habilidades</h1>
            <div class="card unit">
                <h1>FrontEnd</h1>
                <ul>
                    <li>
                        <h4>HTML</h4>
                        <p><ngb-progressbar [max]="100"  [striped]="true"  [animated]="true" [showValue]="true" ></ngb-progressbar></p>
                        <h4>CSS</h4>
                        <p><ngb-progressbar [max]="100" [value]="50" [striped]="true"  [animated]="true" ></ngb-progressbar></p>
                        <h4>JavaScript</h4>
                        <p><ngb-progressbar [max]="100" [value]="50" [striped]="true"  [animated]="true" ></ngb-progressbar></p>
                    </li>
                </ul>
            </div>
            <div class="card unit">
                <h1>BackEnd</h1>
                <ul>
                    <li>
                        <h4>Java</h4>
                        <p><ngb-progressbar type="warning" [max]="100" [value]="50" [striped]="true"  [animated]="true" ></ngb-progressbar></p>
                        <h4>Node.Js</h4>
                        <p><ngb-progressbar type="success" [max]="100" [value]="50" [striped]="true"  [animated]="true" ></ngb-progressbar></p>
                        <h4>MySQL</h4>
                        <p><ngb-progressbar type="info" [max]="100" [value]="50" [striped]="true"  [animated]="true" ></ngb-progressbar></p>
                    </li>
                </ul>
            </div>
    </section>
</div>
