<div class="nav-bar">
    <nav class="navbar sticky-top bg-dark navbar-expand-lg bg-body-tertiary" data-bs-target="_blank" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand">Diego Gomez</a>
        <ul class="navbar-nav me-right mb-2 mb-lg-0">
         <li style="display: inline-flex;">
          <nav class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/in/diego-martin-gomez-015/">
              <i class="fa-brands fa-linkedin" style="font-size:25px" alt="linkedin"></i>
            </a>
          </div>
          </nav>
          <nav class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" target="_blank" href="https://twitter.com/Pola_Gomez15">
              <i class="fa-brands fa-twitter" style="font-size:25px" alt="Twitter"></i>
            </a>
          </div>
          </nav>
          <nav class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" target="_blank" href="https://www.instagram.com/pola_gomez15/">
              <i class="fa-brands fa-instagram" style="font-size:25px" alt="Instagram"></i>
            </a>
          </div>
          </nav>
          <nav class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" target="_blank" href="https://www.facebook.com/colapo.gomez/">
              <i class="fa-brands fa-facebook" style="font-size:25px" alt="Facebook"></i>
            </a>
          </div>
          </nav>
          <nav class="navbar bg-body-tertiary">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-light me-2"  type="button">Login</button>
          </form>
          </nav>
         </li>
        </ul>
      </div>
    </nav>
  </div>