.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(207, 201, 201);
}
.mat-card#first-card {
    padding: 0;
}
.div#profile-background {
    display: flex;
    z-index: 1;
}
.div#profile-background img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}
.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
    position: relative;
}

#info-data {
    float: left;
}


#info-contact {
    width: 300px;
}
#info-company {
    width: 300px;
}

.btn-edit {
    
}
.btn-right {
    display: inline-flex;
    position: relative;
    top: -40px;
    right: -170px;
    color: black;

}
.title {
    font-size: 30px;
    font-weight: bold;
}
.responsive {
    width: 100%;
    max-height: 400px;
    height: auto;
}
#info-details {
    float: right; 
    display: flex;
    position: relative;
}
#info-details a {
    text-decoration: none;
}
#info-details li {
    list-style-type: none;
}
#info-details img {
    display: inline-block;
    width: 100px;
    height: 100px;
}
#info-details h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline; 
    font-size: medium;
}
#info-details h2 {
    font-size: medium;
    color: black;
    text-align: center;
}