<div class="card mat-card" id="first-card" style="margin: 10px 9px; border-top: 0;">
    <div class="div" id="profile-background"><img [src]="miPortfolio.informacion_personal.backimg" alt="background image" class="responsive"></div>
    <div id="info" style="padding: 16px;">
     <div id="info-img">
       <img class="profile-image" [src]="miPortfolio.informacion_personal.foto" alt="foto">
         <div class="btn-edit">
          <a href="#" class="btn-right">
            <i class="fa fa-pen"></i>
          </a>
        </div>        
     </div>
     <div id="info-data">
       <div>
        <h1 class="title" id="info-name">{{miPortfolio.informacion_personal.nombre}}</h1>
        <div id="info-title">{{miPortfolio.informacion_personal.titulo}}</div>
        <div id="info-place">
          <span>{{miPortfolio.informacion_personal.ubicacion}}</span>
        </div>
       </div>
     </div>
    </div>
    </div>